<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	
    <http auto-config="true">
        <intercept-url pattern="/restrict/**" access="ROLE_PROFESSOR,ROLE_ALUNO,ROLE_SECRETARIA"/>
        <intercept-url pattern="/restrict/avaliacao/avaliar.xhtml" access="ROLE_ALUNO"/>
        <intercept-url pattern="/restrict/avaliacao/listarModulos.xhtml" access="ROLE_ALUNO"/>
        <intercept-url pattern="/restrict/avaliacao/cadastrarQuestao.xhtml" access="ROLE_SECRETARIA"/>
        <intercept-url pattern="/restrict/usuario/cadastroNovoUsuario.xhtml" access="ROLE_SECRETARIA"/>
        <intercept-url pattern="/restrict/usuario/cadastroEvento.xhtml" access="ROLE_SECRETARIA"/>
       	<http-basic/>
        <access-denied-handler error-page="/permissaoNegada.xhtml"/>
        <form-login authentication-failure-url="/index.xhtml?erro=true" login-page="/index.xhtml" default-target-url="/restrict/home.xhtml" always-use-default-target="true"/>
    </http>
    
	<beans:bean id="customAuthenticationProvider" class="br.com.infnet.autenticacao.ProvedorAutenticacao" />
    
	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="customAuthenticationProvider"/>
	</authentication-manager>
		
</beans:beans>
